
@{
    ViewData["Title"] = "Dashboard";
}

<div class="col-lg-12">

        <h2>Consultation de données</h2>

</div>
<div class="col-lg-6">

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-2">
                    <i class="fa fa-car fa-4x services-icons"></i>
                </div>
                <div class="col-lg-10">
                    <h4><b>D.I.V.</b></h4>
                    <p>Direction pour l'Immatriculation des Vehicules</p>

                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="col-lg-6">

                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Objet de la recherche
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Immatriculation</a></li>
                        <li><a href="#">Assurance</a></li>
                        <li><a href="#">Exces de vitesse</a></li>
                    </ul>
                </div>
                <br />
            </div>         
            
            <div class="col-lg-6">
                <p> <a class="btn btn-success">Consulter des donnees</a></p>
            </div> 

            </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-2">
                    <i class="fa fa-euro fa-4x services-icons"></i>
                </div>
                <div class="col-lg-10">
                    <h4><b>Finance</b></h4>
                    <p>Direction pour l'Immatriculation des Vehicules</p>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="col-lg-12">
                <p> <a class="btn btn-default  disabled">Authorisation nécessaire</a></p>
            </div>
        </div>
    </div>


</div>
<div class="col-lg-6">

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-2">
                    <i class="fa fa-users fa-4x services-icons"></i>
                </div>
                <div class="col-lg-10">
                    <h4><b>Population</b></h4>
                    <p>Direction pour l'Immatriculation des Vehicules</p>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="col-lg-12">
                <p> <a class="btn btn-default  disabled">Authorisation nécessaire</a></p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-2">
                    <i class="fa fa-balance-scale fa-4x services-icons"></i>
                </div>
                <div class="col-lg-10">
                    <h4><b>Justice</b></h4>
                    <p>Direction pour l'Immatriculation des Vehicules</p>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="col-lg-12">
                <p> <a class="btn btn-default  disabled">Authorisation nécessaire</a></p>
            </div>
        </div>
    </div>

</div>