
@{
    ViewData["Title"] = "Direction Immatriculation des Véhicules";
}

<h2>@ViewData["Title"]</h2>

<div class="col-lg-12">
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th width="10%"></th>
                    <th>Date</th>
                    <th>Qui</th>
                    <th>Raison</th>
                </tr>
            </thead>
            <tbody>

                <tr class="inactive" style="background-color:aliceblue;">
                    <td><span class="glyphicon glyphicon-alert"></span></td>
                    <td>26/06/2017</td>
                    <td>Charles Murray</td>
                    <td>Exces de vitesse</td>
                    <td><span class="label label-danger"></span></td>
                </tr>

                <tr class="inactive" style="background-color:aliceblue;">
                    <td><span class="glyphicon glyphicon-alert"></span></td>
                    <td>02/05/2017</td>
                    <td> Jean Ernestin</td>
                    <td>Assurance</td>
                    <td><span class="label label-danger"></span></td>
                </tr>

                <tr class="">
                    <td></td>
                    <td>13/03/2017</td>
                    <td>Jean Peuplu</td>
                    <td>Taxe d'immatriculation</td>
                    <td><span class="label label-danger"></span></td>
                </tr>

                <tr class="">
                    <td></td>
                    <td>06/09/2016</td>
                    <td>Robert Albin</td>
                    <td>Exces de vitesse</td>
                    <td><span class="label label-danger"></span></td>
                </tr>

            </tbody>
        </table>
    </div>
</div>