
@{
    ViewData["Title"] = "Dashboard";
}

<h2>Dashboard</h2>

<p>Ceci est le dashboard principal de l'utilisateur.</p>

<div style="border : 1px solid black; margin : 10px">carte 1</div>
<div style="border : 1px solid black; margin : 10px">carte 2</div>
<div style="border : 1px solid black; margin : 10px">carte 3</div>

