
@{
    ViewData["Title"] = "Dashboard";
}

<div class="col-lg-12">
    <div>

        <span class="pull-right" style="color:;">
            <label class="label-switch switch-primary">
                <span class="lable">Activer toutes les notifications</span>
                <input type="checkbox" class="switch switch-bootstrap status" name="status" id="status" value="1">
                <span class="lable"></span>
            </label>
        </span>

        <h2>Dashboard</h2>
    </div>
</div>





<div class="col-lg-6">
    <h3>Consultations à propos de vous</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Nom</th>
                <th>Description</th>
                <th>Action</th>
                <th>New</th>
                <th><i class="fa fa-bell fa"></i> Notifs</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td><i class="fa fa-car fa"></td>
                <td>D.I.V.</td>
                <td>Direction pour l'Immatriculation des Vehicules</td>
                <td> <a class="btn btn-default"><i class="fa fa-eye fa"></i></a></td>
                <td><span class="label label-danger">2</span></td>
                <td>
                    <label class="label-switch switch-primary">
                        <input type="checkbox" class="switch switch-bootstrap status" name="status" id="status" value="1" checked="checked">
                        <span class="lable"></span>
                    </label>
                </td>

            </tr>

            <tr>
                <td><i class="fa fa-euro fa"></td>
                <td>Finance</td>
                <td>Direction pour l'Immatriculation des Vehicules</td>
                <td> <a class="btn btn-default"><i class="fa fa-eye fa"></i></a></td>
                <td><span class="label label-danger">1</span></td>
                <td>
                    <label class="label-switch switch-primary">
                        <input type="checkbox" class="switch switch-bootstrap status" name="status" id="status" value="1">
                        <span class="lable"></span>
                    </label>
                </td>
            </tr>

        </tbody>
    </table>

</div>
<div class="col-lg-6">

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-2">
                    <i class="fa fa-car fa-4x services-icons"></i>
                </div>
                <div class="col-lg-10">
                    <h4><b>D.I.V.</b></h4>
                    <p>Direction pour l'Immatriculation des Vehicules</p>

                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="col-lg-6">

                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Objet de la recherche
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Immatriculation</a></li>
                        <li><a href="#">Assurance</a></li>
                        <li><a href="#">Exces de vitesse</a></li>
                    </ul>
                </div>
                <br />
            </div>

            <div class="col-lg-6">
                <p> <a class="btn btn-success">Consulter des donnees</a></p>
            </div>

        </div>
    </div>
</div>