@using Microsoft.AspNetCore.Identity
@using NoSkillTeam_PrivacyPassport.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-lg-6">
        <h1>Bienvenue</h1>
        <p>Privacy Passport est un service vous permetant de savoir qui consulte vos données privées et pour quels motifs.</p>
        <a class="btn btn-default" asp-area="" asp-controller="Account" asp-action="Login">Connexion</a>
        <a class="btn btn-default" asp-area="" asp-controller="Account" asp-action="Register">Créer un compte</a>


    </div>

    <div class="col-lg-6">
        <p><br/><img class="img-responsive" src="../img/privacy.jpg" /></p>
    </div>
</div>

<br />
